/*.button-normal {
    padding: 2rem 4rem;
    font-size: 16px;
    text-transform: "uppercase";
    letter-spacing: 2;
    color: "white";
    background-color: "transparent";
    border: "1px solid #a2ff17";
    border-radius: "1rem";
    font-weight: 700;
  }
*/
